<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الصفحة الرئيسية</title>
    <link rel="stylesheet" href="./assets/css/hitrun.css">
    <script>sessionStorage.removeItem('userData')</script>
</head>
<body class="bg-light text-center">
    <main class="d-grid" style="place-content: center; height: 100vh">
        <h5 class="text-secondary text-opacity-75">حياك الله</h>
        <h2>في تجربة حية لمشروعنا</h2>
        <h1 class="fw-bolder">"الطبيب الطيب"</h1>
        <br>
        <br>
        <a href="./clinic.html" class="btn btn-primary">تفضل</a>
    </main>
</body>
</html>