<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تم الحجز</title>
    <link rel="stylesheet" href="./assets/css/hitrun.css">
</head>
<body style=" text-align: center;" class="bg-light" >
    <main style="height: 100vh; display: grid; place-content: center;">
        <h2 class="fw-bolder">لقد تم حجز موعد</h2>
        <p>نرجو منك التوجه إلى مركز الرعاية الصحية الأولية بقرطبة</p>
        <br>
        <br>
        <a class="btn btn-primary" href="#">موقع مركز الرعاية الصحية</a>
        <br>
        <a class="btn btn-primary" href="./index.html">الصفحة الرئيسية</a>
    </main>
</body>
</html>